@model CourseDataManagement.Models.ExternalModeration

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ExternalModeration</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CourseID" class="control-label"></label>
                <input asp-for="CourseID" class="form-control" />
                <span asp-validation-for="CourseID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseName" class="control-label"></label>
                <input asp-for="CourseName" class="form-control" />
                <span asp-validation-for="CourseName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NameOfExternalModerator" class="control-label"></label>
                <input asp-for="NameOfExternalModerator" class="form-control" />
                <span asp-validation-for="NameOfExternalModerator" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatePassedToExternalModerator" class="control-label"></label>
                <input asp-for="DatePassedToExternalModerator" class="form-control" />
                <span asp-validation-for="DatePassedToExternalModerator" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfExternalmoderatorReport" class="control-label"></label>
                <input asp-for="DateOfExternalmoderatorReport" class="form-control" />
                <span asp-validation-for="DateOfExternalmoderatorReport" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfResponseToReport" class="control-label"></label>
                <input asp-for="DateOfResponseToReport" class="form-control" />
                <span asp-validation-for="DateOfResponseToReport" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NextDueDateForExternalModeration" class="control-label"></label>
                <input asp-for="NextDueDateForExternalModeration" class="form-control" />
                <span asp-validation-for="NextDueDateForExternalModeration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SendEmailNotificationTo" class="control-label"></label>
                <input asp-for="SendEmailNotificationTo" class="form-control" />
                <span asp-validation-for="SendEmailNotificationTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
